h1 {
    /*font-size: 4em;*/
    font-size: 70px;
    font-size: 9em;
    font-size: 6vmin;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(34, 85, 39);
    border-radius: 15px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    font-style: italic;
    margin-top: 15%;
    margin-left: 25px;
    margin-right: 50px;
    margin-bottom: 40px;
    padding: 23px;
    background-image: url("../imagenes/textura1.jpg");
    /*font-size: 50%;*/
}

p {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 2.6vh;
    color: rgb(91, 1, 1);
    margin: 34px 42px;
    padding: 24px 30px;
    border-style: groove;
    border-width: 8px;
    border-color: rgb(87, 54, 159);
    background-image: url("../imagenes/textura3.jpg");
    text-align: right;
    direction: rtl;
    letter-spacing: 6;
    line-height: 1.8;
    word-spacing: 5px;
    text-shadow: 2px 2px 4px rgb(85, 61, 61);
}

p.borde-dos {
    font-size: 4vh;
    font-style: oblique;
    color: aliceblue;
    border-style: inset;
    border-color: rgb(126, 85, 140);
    margin: 30px 36px;
    padding: 40px;
    background-image: none;
    background-color: darkslategrey;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

body {
    background-color: rgb(252, 206, 240);
}
